// Color palette
$black:           #000000; // Headings, standard text.
$gray-darker:     $black; // Text (emphasis-detail), placeholder, background.
$gray-dark:       $black; // Borders (never text).
$gray:            #dddddd;
$gray-light:      #eeeeee; // Background.
$gray-lighter:    #f5f5f5;
$white:           #ffffff; // Background, reversed text.

$blue:            #00a8ff; // Link, background.
$turquoise:       #007982; // Accent.
$green:           #5e8100; // Accent.
$red:             #cb3d4d;


$orange:          #ffff00; // Accent (never text).  // Yellow
$yellow:          #f98012; // Accent (never text). // Orange

$core-color:      $orange;


ion-app.app-root.md .button-md-light {
	color: $blue !important;
}

span.button.item-button  {
	color: $blue !important;
}

ion-icon.item-icon, .ion-md-cloud-download, .ion-md-person, .ion-md-arrow-dropleft, .ion-md-folder, .ion-md-stats  {
	color: $blue !important;
}

.scroll-content, .core-loading-content {
	.ion-md-calendar,  .ion-md-chatbubbles  {	
		color: $blue !important;
	}

	.ion-md-notifications {
		color: $blue !important;
	}
}

page-core-courses-my-overview .core-tabs-bar {
	display: none !important;
}


ion-app.app-root ion-select {
	color: $blue !important;
	.select-icon .select-icon-inner {
		color: $blue !important;
	}
}


.item-md p {
	color: $black !important;
}

ion-app.ios {
   font-family: "ralewayregular", "Helvetica Neue", "Roboto", sans-serif !important;
}

ion-badge {
	white-space: normal !important;
}